.link-item{
margin: right 0; ;
padding-right: 0;
}
.link{
    display: inline-block;
    vertical-align: middle;
    margin-left: 0;
    margin-right: 0;
    padding-right: .625rem;
    padding-left: .625rem;
}

.main{
    margin: 50px;
    display: flex;
     justify-content: center;
  align-items: center;
  

}
.main img{
    height: 600px;
    max-width: 100%;
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.main h1{
    font-size: 7rem;
    position: absolute;
    top: 25%;
    right: 35%;
    transform: translate(-50% -50%);
    color: rgb(253, 89, 72);
}
.boby-text{
        display: block;
        text-align: center;
        width: 66.66667vw;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
        
        
}
.boby-text h2{
    font-size: 30px;
    line-height: 1.5;
    font-weight: bold;
    
    
    
}
.boby-text p{
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
} 
.student-page{
    position: relative;
    margin: auto 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8.33333vw;
    padding-bottom: 8.33333vw;
    box-sizing: border-box;
}

.photo{
    width: 45.66667vw;
    height: 41.66667vw;
    margin-left: 8.33333vw;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}
.layerbase{
    width: 59.33333vw;
    height: 55.33333vw;
    left: 41.66665vw;
    margin: 10px;
    background-color: #FBFFA7;
    position: absolute;
    top: 0%;
    z-index: 0;
}
.lastphoto {
    width: 33.33333vw;
    height: 25vw;
    margin-left: 8.33333vw;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}
.layerbase div{
   display: block;
    unicode-bidi: isolate; 
}
.photo div{
    display: block;
    unicode-bidi: isolate;
}
.text-boby{
    display: block;
        text-align: center;
        width: 66.66667vw;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
}
.text-boby h2{
    font-size: 30px;
    line-height: 1.5;
    font-weight: bold;
}
.text-boby p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
}
.video{
   display: flex;
     justify-content: center;
  align-items: center;
  height: 100%;  
}
.video iframe{
    margin: auto 0;
    position: relative;
}
.text-second{
    display: block;
        text-align: center;
        width: 66.66667vw;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;  
}
.text-second h2{
     font-size: 30px;
    line-height: 1.5;
    font-weight: bold;
}
.text-second p{
     font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
}
.triple-images{
    position: relative;
    margin-bottom: 8.33333vw;
    box-sizing: border-box;
}
.second{
   width: 33.33333vw;
    height: 25vw;
    margin-left: 8.33333vw;
    margin-right: 8.3333vw;
    margin: 150px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;  
}
.forth{
    display: inline-block;
    vertical-align: middle;
    position: relative ;
    margin-top: -300px;
    z-index: 1;
    
}
    
    
.third{
       width: 33.33333vw;
    height: 25vw;
    margin-left: 8.33333vw;
    margin-right: 8.3333vw;
    margin-top: 100px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;  
}

.first{
    width: 58.33333vw;
    margin: 50px;
    height: 70vw;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
    box-sizing: border-box;
    background-color: #B6FFC0;
}


.first div{
    display: block;
    unicode-bidi: isolate;
}
.text2{
    display: block;
        text-align: center;
        width: 66.66667vw;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
}
.text2 h2{
    font-size: 30px;
    line-height: 1.5;
    font-weight: bold; 
}
.text2 p{
     font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
}
.makers{
    display: flex;
     justify-content: center;
  align-items: center;
  margin: 100px;
  

}
.makers img{
    height: 700px;
    max-width: 100%;
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.text3{
    display: block;
        text-align: center;
        width: 66.66667vw;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
}
.text3 h2{
    font-size: 30px;
    line-height: 1.5;
    font-weight: bold; 
}
.text3 p{
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
}
.box{

  height: 100%;  
    margin-bottom: 8.33333vw;
    box-sizing: border-box;
    position: relative;
}
.box1{
  background-color: #D5B3FF;
   width: 66.66667vw;
    height: 58.33333vw;
   margin: 50px;
   position: absolute;
   left: 16.66667vw;
}
.box2 img{
     width: 33.33333vw;
    height: 25vw;
    margin-left: 50.33333vw;
    margin: 100px;
    top: 100px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    z-index: 1;  
}
.box3 img{
   display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-top: 100px;
    z-index: 1; 
    width: 41.66667vw;
    height: 41.66667vw;
    margin-left: 55.66667vw;
}
