body{
    margin: 0;
    padding: 0;
    background: black;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 1px 0;
    flex-direction: row;
}
.gallery img{
    flex-wrap: wrap;
    width: 320px;
    height: 200px;
    margin: 1px;
    border-radius: 200px;
}